

/* couleur */
.couleurtableaueffectis1 {
    background-color:   #aed6f1 !important
  }
  
.couleurtableaueffectis2 {
background-color:   #ebf5fb !important
}

.couleurtableaueffectis3 {
background-color:   #d6eaf8 !important
}

.couleurtableaueffectis4 {
background-color:   #fdedec !important
}

.couleurtableaueffectis5 {
background-color:   #f5b7b1 !important
}

.couleurtableaueffectis6 {
background-color:   #fcf3cf !important
}

.couleurtableaueffectis7 {
background-color:   #f9e79f !important
}

/* div .dt-buttons{
    
    margin-left: 20%;
}
div .dt-buttons .dt-button{
 
    margin-left: 1%;
} */